<mat-card class="card">
    <div class="container">
        <form class="form" [formGroup]="loginForm" style="display: block;" autocomplete="off">
            <div class="mat-title" style="text-align: center;">Login</div>
            <mat-form-field appearance="outline">
                <mat-label>Username</mat-label>
                <input matInput formControlName="email"> 
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field><br>
            <button mat-raised-button [disabled]="!loginForm.valid" (click)="logIn()">Login</button><br><br>
            <h3><a routerLink="" style="color: white">Create account</a></h3>
        </form>
    </div>
</mat-card>
<img class="minion1" src="./../../../../assets/Minion-panel.png">