<mat-card class="card">
    <div class="container">
        <form [formGroup]="profileForm">
            <div class="mat-title" style="text-align: center;">Profile</div>
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="fullName" readonly> 
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" readonly>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rol</mat-label>
                <mat-select formControlName="rol" style="color: black;" [disabled]="true">
                    <mat-option style="color: black;" *ngFor="let role of roles" [value]="role.id">{{ role.name }}</mat-option>
                  </mat-select>
            </mat-form-field>
        </form>
    </div>
</mat-card>
<mat-card *ngIf="user.rol == 1" class="card2">
    <div class="container">
        <form [formGroup]="profileForm">
            <div class="mat-title" style="text-align: center;">Generar token</div>
            <mat-form-field appearance="outline">
                <mat-label>Token</mat-label>
                <input matInput formControlName="token" readonly> 
            </mat-form-field>
            <button mat-raised-button class="borrar" (click)="generateToken()">Borrar</button>
        </form>
    </div>
</mat-card>

