.container{
    justify-content: center;
    display: flow-root;
    align-items: center;
    width: 70%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.mat-row, .mat-header-row, .mat-paginator {   
    width: 100%;
}
.mat-header-cell{
    size: 5px ;
}
.mat-table{
    margin-top: 10px;
}
.mat-form-field {
    display: inline;
    flex-direction: column;
    align-items: flex-start;
    color: black;
} 
.mat-raised-button {
    font-size: large;
    color: white;
    background-color: black;
    opacity: 0.9;
} 
.mat-title{
    font-size: 7ch;
}
mat-form-field {
    width: 100%;
}
:host ::ng-deep mat-form-field .mat-form-field-outline-start {
    background-color: white !important;
}
:host ::ng-deep mat-form-field .mat-form-field-outline-gap {
    background-color: white !important;
}
:host ::ng-deep mat-form-field .mat-form-field-outline-end {
    background-color: white !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: black !important;
}
.borrar{
    margin-left: 10px;
}