html, body { 
  height: 0%;
  background-image: url('./assets/the-batman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
